@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  z-index: 5;
  border: 4px solid #f2f5f9;
  overflow: visible;
  cursor: pointer;
}
.sliderBlue::-webkit-slider-thumb {
  background-color: #0f67fe;
}
.sliderRed::-webkit-slider-thumb {
  background-color: #fa4d5e;
}
